@font-face {
	font-family: MozTTRegular;
	src: url('fonts/MozTT-Regular.ttf') format("truetype");
	
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: MozTTBold;
	src: url('fonts/MozTT-Bold.ttf') format("truetype");
	
	font-weight: normal;
	font-style: normal;
}
p.moztt_bold {

	font-family: MozTTBold;
	color: black;
}
p.moztt_regular {

	font-family: MozTTRegular;
	color: black;
}

